@import 'tailwindcss';

@custom-variant hover (&:hover);

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate 120s linear infinite;
}

#navbar {
  background: linear-gradient(to right, #9242d7, #a653da, #9242d7);
}

.react-pdf__Page__canvas {
  width: 100% !important;
  height: auto !important;
}

.shadow-inner-left {
  box-shadow: inset 12px 0 20px -8px rgba(0, 0, 0, 0.2);
}
